@import '../../styles//vars.scss';
.list {
  padding-top: 60px;
  &Title {
    display: flex;
    justify-content: center;
    color: white;
  }
  &Content {
    background: rgb(250, 231, 123);
    border-radius: 10px;
    overflow-x: hidden;
    height: 60vh;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  &Item {
    padding-top: 0px !important;
  }
  &Empty {
    margin: 10px !important;
  }
}
